<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>品牌管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/angularjs/angular.min.js"></script>
    <!--分页插件引用-->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!--分页插件引用-->
    <script>
        var app = angular.module("pinyougou", ['pagination']);
        app.controller("brandController", function ($scope, $http) {
            /* $scope.findAll=function () {
                 $http.get("../brand/findAll.do").success(
                     function (response) {
                         $scope.pageResult=response;
                     }
                 )
             };*/

            /*分页配置信息*/
            $scope.paginationConf = {
                currentPage: 1, //当前页码
                totalItems: 10, //总记录数
                itemsPerPage: 10, //每页显示条数
                perPageOptions: [10, 20, 30, 40, 50], //分页选项
                onChange: function () {
                    //当页码触发后自动变更的方法
                    $scope.reloadPage();
                }

            };

            //刷新页面
            $scope.reloadPage = function () {
                $scope.searchBrand($scope.paginationConf.currentPage, $scope.paginationConf.itemsPerPage)
            };


           /* //分页
            $scope.findPage = function (page, size) {
                $http.get('../brand/findPage.do?page=' + page + '&size=' + size + '').success(
                    function (response) {
                        $scope.list = response.rows;//显示当前的数据
                        $scope.paginationConf.totalItems = response.total;//更新总记录数
                    }
                )
            };
*/

            //保存品牌
            $scope.saveBrand = function () {

                if ($scope.entity.id == null) {
                    //若果id值是null,说明是想数据库中添加数据
                    $http.post('../brand/saveBrand.do?', $scope.entity).success(
                        function (response) {
                            $scope.Result = response;
                            if ($scope.Result.flag) {
                                $scope.reloadPage();
                            } else {
                                alert($scope.Result.msg);
                            }

                        }
                    )
                } else {
                    //如果id不是null,说明是想数据库中修改数据
                    $http.post('../brand/updateBrand.do', $scope.entity).success(
                        function (response) {
                            $scope.Result = response;
                            if ($scope.Result.flag) {
                                $scope.reloadPage();
                            } else {
                                alert($scope.Result.msg);
                            }
                        }
                    )

                }


            };

            //修改品牌
            $scope.changeBrand = function (brand) {
                //把原来的数据赋值到表格中,并发送ajax请求
                $scope.entity = brand;
            };

          //删除品牌:
            //1在$scope中建立变量ids
            $scope.ids = [];
            //2创建方法,当选中是后,id值放入到ids中
            $scope.addId=function ($event,id) {
                if ( $event.target.checked){
                    //如果选中了就向ids中添加数据
                    $scope.ids.push(id);
                }else {
                    //反之移除数据
                    var index = $scope.ids.indexOf(id);
                    $scope.ids.splice(index,1);

                }


            };

            //3调用删除方法,把ids传入到后台
            $scope.deleteBrand=function () {
                $http.post('../brand/deleteBrand.do?ids='+$scope.ids+'').success(
                   function (response) {
                       $scope.Result = response;
                       if ($scope.Result.flag) {
                           $scope.reloadPage();
                       } else {
                           alert($scope.Result.msg);
                       }
                   }
                )
            };


           $scope.searchEntity={};//初始化searchEntity,保证接收的不为null;
            //条件查询:
            $scope.searchBrand = function (page,size) {
                $http.post('../brand/searchPage.do?page=' + page + '&size=' + size + '',$scope.searchEntity).success(
                    function (response) {
                        $scope.list = response.rows;//显示当前的数据
                        $scope.paginationConf.totalItems = response.total;//更新总记录数
                    }
                )
            };


            //对重复代码进行封装

        })
    </script>


</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="brandController">
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">品牌管理</h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="新建" data-toggle="modal"
                            data-target="#editModal" ng-click="entity={}"><i class="fa fa-file-o"></i> 新建
                    </button>
                    <button type="button" class="btn btn-default" title="删除" ng-click="deleteBrand()"><i class="fa fa-trash-o"></i> 删除</button>
                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i
                            class="fa fa-refresh"></i> 刷新
                    </button>
                </div>
            </div>
        </div>

        <!--模糊查询-->
        <div class="box-tools pull-right">
            <div class="has-feedback">
                品牌名称: <input ng-model="searchEntity.name">
                品牌首字母:<input ng-model="searchEntity.firstChar">
                <button class="btn btn-default" title="查询" ng-click="reloadPage()">查询</button>
            </div>
        </div>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting_asc">品牌ID</th>
                <th class="sorting">品牌名称</th>
                <th class="sorting">品牌首字母</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="brand in list">
                <td><input type="checkbox" ng-click="addId($event,brand.id)"></td>
                <td>{{brand.id}}</td>
                <td>{{brand.name}}</td>
                <td>{{brand.firstChar}}</td>
                <td class="text-center">
                    <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"
                            ng-click="changeBrand(brand)">修改
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <!--数据列表/-->
        <!--分页控件-->
        <tm-pagination conf="paginationConf"></tm-pagination>


    </div>
    <!-- 数据表格 /-->


</div>
<!-- /.box-body -->

<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">品牌编辑</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped" width="800px">
                    <tr>
                        <td>品牌名称</td>
                        <td><input class="form-control" placeholder="品牌名称" ng-model="entity.name"></td>
                    </tr>
                    <tr>
                        <td>首字母</td>
                        <td><input class="form-control" placeholder="首字母" ng-model="entity.firstChar"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="saveBrand()">保存
                </button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>